@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');


/* Page d'acceuil*/


body {

    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;

}

/* header*/

.page-header {
    display: block;
}


/*--Loader--*/

.section-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #16a085;
    overflow: hidden;
    animation: hideLoader 1s 1s linear forwards;

}

.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.loader-quart {
    border-radius: 50px;
    border: 6px solid rgba(250, 250, 250, 0.4);
}

.loader-quart:after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFFFFF;
    animation: loader-shadow 2s linear forwards;

}

.loader-chargement {
    color: #FFFFFF;
    margin-left: 15px;
}

/* fin loader*/

.page-navigation {
    width: 100%;
    height: 63px;
    text-align: center;
    background: #FFFFFF;
    font-family: 'Shrikhand', cursive;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
    position: relative;
}

.page-navigation_title {
    padding: 14px 0 5px 0;
    margin: 0;
}

.page-header_icon_paris {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eaeaea;
}

.page-header_paris {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border: none;
    background: none;
    padding: 15.5px 0 15.5px 17px;
}

.page-header_reserver {
    text-align: center;
    background: #f6f6f6;
    padding-bottom: 50px;
}

.page-header_title {
    margin: 0;
    padding-top: 40px;
    color: #000000;
    font-size: 24px;
    display: block;
}

.page-header_subtitle {
    font-weight: 300;
    margin: 0;
    color: #353535;
    padding-bottom: 27px;
    display: block;
}

.page-header_title_responsive {
    display: block;
}

.page-header_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin: 0 auto;
    text-decoration: none;

}

.page-header_button:hover {
    transform: scale(1.02);
}

.page-header_link_restaurants {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*fin header */



/* fonctionnement*/

.fonctionnement {
    background: #FFFFFF;
}

.fonctionnement-list {
    margin: 0;

}

/* Annimation titre */

.fonctionnement-title {
    margin: 0;
    padding: 48px 80px 27px 20px;
    animation: titlheart linear 2s 1s forwards;
}

/* Annimation button fonctionnement */

.fonctionnement-button {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0;
    background-color: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border: 0;
    margin: 0 20px 25px 32px;
    position: relative;
    animation: title-entree linear 2.25s 1s forwards;
}

.fonctionnement-button:nth-child(2) {
    animation: title-entree linear 2.5s 1s forwards;
}

.fonctionnement-button:nth-child(3) {
    animation: title-entree linear 2.75s 1s forwards;

}

.fonctionnement-button:hover {
    transform: scale(1.03);
}

.fonctionnement-icon_number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    color: #FFFFFF;
    background: #9356DC;
    position: absolute;
    left: -10px;
}

.fonctionnement-button_title {
    font-size: 16px;
    padding: 0 0 0 20px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fonctionnement-button_mobile {
    padding-left: 30px;
    color: #7E7E7E;
}

.fonctionnement-button_store {
    color: #9356DC;
    padding-left: 30px;
}

/*fin fonctionnement*/


/* section restaurants*/

/* annimation title restaurant*/
.section-header .fonctionnement-title {
    animation: title-entree linear 3s 1s forwards;

}

.section-restaurants {
    background: #f6f6f6;
    margin-top: 43px;

}

.section-restaurants_block {
    padding: 0 15px 58px 15px;

}

.section-restaurants_figure {
    width: 100%;
    height: 180px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

/* annimation cards*/
.section-restaurants_content {
    border-radius: 15px;
    background: #FFFFFF;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    position: relative;
    animation: slideinohmyfood linear 3.25s 1s forwards;

}

.section-restaurants_content:nth-child(2) {
    animation: slideinohmyfood linear 3.75s 1s forwards;

}

.section-restaurants_content:nth-child(3) {
    animation: slideinohmyfood linear 4s 1s forwards;

}

.section-restaurants_content:nth-child(4) {
    animation: slideinohmyfood linear 4.25s 1s forwards;

}


.section-restaurants_content:hover {
    transform: scale(1.05);
    right: 0;
}

.section-restaurants_nouveau {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(153, 226, 208, 1);
    margin: 7px 9px;
    padding: 7px 9px;
    font-size: 14px;
    color: rgba(0, 135, 102, 1);
    animation: slideinohmyfood linear .5s 5s forwards;

}


.section-restaurants_block_title {
    height: 77px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: #000000;
}

.section-restaurants_title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;


}


.section-restaurants_block_title_one {
    text-decoration: none;
    color: #000000;
}

.section-restaurants_block_link {
    width: 100%;

}

.section-restaurants_subtitle {
    font-size: 17px;
    text-decoration: none;
    font-weight: 300;
    margin: 0;
    padding-bottom: 12px;
}



/* remplissage coeur*/

.section-heart {
    position: absolute;
    font-size: 20px;
}

.section-restaurants_heart {
    width: 22px;
    height: 22px;
    color: #101010;
    margin-right: 15px;
    cursor: pointer;


}

.section-restaurants_heart_solid {
    opacity: 0;
    transition-property: all;
    transition-duration: 2s;

}

.section-restaurants_heart_solid:hover {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(0deg,
            rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    overflow: hidden;
}


/* fin section restaurant*/

/* footer*/

.section-footer {
    background: #353535;
    color: #FFFFFF;
    height: auto;

}

.section-footer_liste {
    padding: 22px 25px;
    font-weight: 400;
}

.section-footer_logo {
    margin: 0;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 9px;
}

.section-footer_block {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

}

.section-footer_title {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
}

.section-footer_title:hover {
    text-decoration: underline;
}

.section-footer_link {

    padding-top: 7px;
}

.section-footer_icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #FFFFFF;
    text-decoration: none;
}

.section-footer_icon:hover {
    text-decoration: underline;
}

.footer_icon {
    margin-right: 11px;
    font-size: 13px;
    width: 11px;
}

/*fin  footer*/

/* Fin page d'acceuil*/


/* media queries page d'acceuil*/

@media all and (min-width: 550px) {

    .page-header_title_responsive {
        display: inline-block;
    }

    .page-header_title_desktop {
        display: inline-block;
    }




    .fonctionnement-button_icon {
        display: flex;
        width: 100%;
    }

    .fonctionnement {
        padding: 0 20px 0 20px;
        height: auto;
        width: auto;
    }

    .section-restaurants {
        padding: 0 20px 0 20px;
    }

    .section-restaurants_figure {
        width: 100%
    }

    .section-restaurants_block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .section-restaurants_content {
        width: calc(50% - 20px);
    }


}

@media all and (min-width:900px) {
    .section-footer_liste {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 30px;
    }

    .section-footer_block {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        padding-left: 15px;
    }

    .section-footer_logo {}

    .section-footer_link {
        padding-right: 7px;
    }

    .footer-menu_block_link {
        display: flex;
        padding-left: 40px;
    }
}


@media all and (min-width: 1100px) {

    .fonctionnement {

        padding: 0 140px;
    }


    .section-restaurants {

        padding: 0 140px;
    }

    .fonctionnement-button_title {
        padding-right: 0;
    }

    .fonctionnement-button_icon {
        width: 100%;

    }

    .fonctionnement-button {
        width: 100%;
    }





}

@media all and (min-width: 1100px) and (max-width: 1200px) {
    .fonctionnement-button {
        margin: 0 8px 25px 8px;
        width: 100%;
    }

    .fonctionnement-button_icon {
        width: 100%;
    }

    .fonctionnement {
        padding: 0 100px;
        height: auto;
        width: auto;
        margin: 0;
    }

    .section-restaurants {
        padding: 0 100px;
        margin: 0;
    }
}

@media all and (min-width: 900px) and (max-width: 1100px) {


    .fonctionnement-button {
        width: 100%;
    }

    .fonctionnement {
        padding: 0 20px;
        height: auto;
        width: auto;
        margin: 0;
    }

    .section-restaurants {
        margin: 0;
    }
}

@media all and (max-width: 900px) {
    .fonctionnement-button_icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


@media all and (max-width: 350px) {
    .fonctionnement {
        width: 100%;
    }


    .fonctionnement-icon_number {
        border: 0px;
    }
}




/*pages de menu */



.page-navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
}

.page-navigation_title {
    justify-content: center;
    width: 120%;
    font-size: 30px;
}

.page-navigation_arrow {
    text-decoration: none;
    color: #353535;
    width: 17px;
    height: 16px;
}

.section_card {
    width: 100%;
    height: 300px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
    object-fit: cover;
}

.header_title {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    font-weight: 400;
    padding: 32px 0px 42px 0;
    margin: 0;

}

.header_title_heart {
    width: 100%;
    max-width: 635px;
    margin: 0 auto;
    animation: titlheart linear 1s forwards;
}

.section-menu_commmande {
    z-index: 100;
    position: relative;
    margin-bottom: 40px;
}

.section-menu {
    background: #F6F6F6;
    padding: 0 13px;
    border-radius: 30px 30px 0 0;
    position: relative;
    z-index: 100;
    margin: -40px auto;
    width: 100%;
    max-width: 1055px;

}

.header-menu_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
}

.section-menu_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.section_button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: rgb(147, 86, 220);
    background: linear-gradient(0deg, rgba(147, 86, 220, 1) 0%, rgba(255, 121, 218, 1) 100%);
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
    margin: 40px 0;
    animation: slidein linear 3.5s 1s forwards;
}

/* annimation menu */
.section-menu_block {
    display: flex;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #000000;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    opacity: 0;

}

.section-menu_block:nth-child(2) {
    animation: slidein linear .75s 1s forwards;
}

.section-menu_block:nth-child(3) {
    animation: slidein linear 1s 1s forwards;
}


.section-menu_block:nth-child(4) {
    animation: slidein linear 1.25s 1s forwards;
}

.section-menu_block:nth-child(5) {
    animation: slidein linear 1.5s 1s forwards;
}

.section-menu_block:hover .section-menu_aside {
    right: 0;
}

.section-menu_aside {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    right: -50px;
    transition: .3s linear;
    animation: menuaside linear 4s forwards;
}

.section-menu_aside:nth-child(2) {
    animation: menuaside linear 3.5s 1s forwards;
}

.section-menu_aside:hover {
    right: 0;
}


.section-menu_plat {
    width: 100%;
    max-width: 635px;
    margin: 0 auto;
}

.section-menu_entrees_title::before {
    content: '';
    width: 50px;
    height: 2px;
    position: absolute;
    bottom: 10px;
    background: #99E2D0;
}

.section-menu_entrees_title {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    border-bottom: 3px;
    padding-bottom: 12px;
    position: relative;
    animation: title-entree linear .5s 1s forwards;
    opacity: 0;
}

.section-menu_plats .section-menu_entrees_title {
    animation: title-entree linear 1.5s 1s forwards;
}

.section-menu_plats .section-menu_block:nth-child(2) {
    animation: slidein linear 1.75s 1s forwards;
}

.section-menu_plats .section-menu_block:nth-child(3) {
    animation: slidein linear 2s 1s forwards;
}

.section-menu_plats .section-menu_block:nth-child(4) {
    animation: slidein linear 2.25s 1s forwards;
}

.section-menu_desserts .section-menu_entrees_title {
    animation: title-entree linear 2.5s 1s forwards;
}

.section-menu_desserts .section-menu_block:nth-child(2) {
    animation: slidein linear 2.75s 1s forwards;
}

.section-menu_desserts .section-menu_block:nth-child(3) {
    animation: slidein linear 3s 1s forwards;
}

.section-menu_desserts .section-menu_block:nth-child(4) {
    animation: slidein linear 3.25s 1s forwards;
}

.section-menu_title {
    width: calc(100% - 50px);
    padding: 12px 15px;
}

.section-menu_block:hover.section-menu_title {
    width: calc(100% - 50px - 50px);
}

.section-menu_block_title {
    font-size: 18px;
    margin: 0;
    padding-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.section-menu_block_subtitle {
    margin: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.section_price {
    margin-left: auto;
    padding: 12px 15px;
    display: flex;
    align-items: flex-end;
    height: 100%;

}

.section-menu_check {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #99E2D0;
    border-radius: 0 15px 15px 0;
    margin-right: 0px;
    width: 40px;
    height: 100%;
    animation: spin-cercle 1s linear 3s forwards;


}

.section-menu_check_cercl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #99E2D0;
    animation: spin-cercle 1s linear 3s forwards;
}

.section-menu_footer {
    background: #353535;
    color: #FFFFFF;
    height: auto;

}

.section-menu_footer_liste {

    padding: 22px 25px;
}

.section-menu_footer_logo {
    margin: 0;
    font-family: 'Shrikhand', cursive;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 9px;
}

.section-menu_footer_block {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;

}

.section-menu_footer_title {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
}


.section-menu_footer_link {
    padding-top: 7px;
}

.section-menu_footer_icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: #FFFFFF;
    text-decoration: none;
}

.footer-menu_icon {
    margin-right: 11px;
    font-size: 13px;
    width: 11px;
}


/* media queries page des menus */

@media all and (min-width:840px) {
    .section-menu_footer_logo {
        width: 15%;
    }

    .section-menu_footer_liste {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        padding: 22px 5px;
    }

    .section-menu_footer_link {
        padding-left: 7px;
    }

    .footer-block_link {
        display: flex;
        padding-left: 40px;
    }

    .section-menu_footer_block {
        display: flex;
        justify-content: flex-end;
        width: 80%;
        padding-left: 15px;
    }

    .section-menu_footer {
        height: auto;
    }
}

/* annimation icon cerle*/

@keyframes spin-cercle {
    0% {
        transform:rotate(0deg) ;
        -webkit-transform:rotate(0deg) ;

    }

    100% {
        transform: rotate(100deg);
        -webkit-transform: rotate(100deg);
    }
}

/* annimation loader*/
@keyframes hideLoader {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}



@keyframes loader-shadow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(300deg);
    }

}

/* annimation menu */
@keyframes slidein {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes menuaside {
    from {
        transform: translateX(100%);
        opacity: 0;

    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

/* annimation cards */
@keyframes slideinohmyfood {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes navigat {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes titlheart {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}



@keyframes title-entree {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}